<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <style>
        *{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
        input[type='text']{
            width:500px;
        }
    </style>
</head>
<body>
    <h1>YouTube to iTunes</h1>
    <h2>Step 1</h2>
    <form action="setTitle" method="GET">
        <label for="addr">Address: </label>
        <input type="text" name="addr">
        <button type="submit">Submit</button>
    </form>
</body>
</html>